.stages {
  display: flex;
  flex-direction: column;
  &__wrapper {
    color: $white100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    &-actions {
      &-title {
        display: block;
        @include heading(3);
        max-width: 550px;
      }
      &-button {
        @include primaryButton;
        width: 186px;
        margin-top: 30px;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }
    &-item {
      padding: 30px;
      flex-direction: column;
      &-title {
        @include heading(5);
      }
      &-description {
        @include text(6);
        margin-top: 21px;
      }
    }
  }
  @include tablet {
    &__wrapper {
      &-item {
        padding: 15px;
      }
    }
  }
  @include mobile {
    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 16px;
      &-actions {
        &-button {
          width: 100%;
        }
      }
    }
  }
}