.portfolio-view {
  color: $white100;
  margin-bottom: 240px;
  &__greetings {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    max-width: 1216px;
    margin: 70px auto 0;
    &-title {
      @include heading(3);
      display: block;
    }
    &-images {
      max-height: 600px;
    }
    &-description {
      @include text(6)
    }
  }
  &__goals {
    max-width: 1216px;
    margin: 240px auto 0;
  }
  &__stages {
    display: flex;
    flex-direction: column;
    max-width: 1216px;
    margin: 240px auto 0;
    &-header {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }
    &-title {
      @include heading(3)
    }
    &-subtitle {
      @include subtitle(1);
      max-width: 517px;
    }
    &-item {
      margin-top: 86px;
      &:first-child {
        margin-top: 86px;
      }
      &-title {
        @include heading(2);
        display: block;
      }
      &-description {
        @include subtitle(1);
        display: block;
        margin-top: 24px;
      }
      &-images {
        margin-top: 40px;
        column-gap: 20px;
        img {
          max-width: 100%;
          object-fit: cover;
        }
        &_multi {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    max-width: 1216px;
    margin: 240px auto 0;
    &-title {
      @include heading(3)
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 30px;
      column-gap: 15px;
      &-column {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }
    }
    &-item {
      display: flex;
      align-items: start;
      column-gap: 16px;
      &-title {
        @include text(5)
      }
    }
  }
  &__presentation {
    display: flex;
    flex-direction: column;
    max-width: 1216px;
    margin: 121px auto 0;
    &-wrapper {
      width: 100%;
      height: 1500px;
      @include centering;
    }
    &-placeholder {
      @include text(6);
      display: block;
      max-width: 250px;
      text-align: center;
    }
  }
  &__review {
    display: flex;
    flex-direction: column;
    max-width: 1216px;
    margin: 240px auto 0;
    &-title {
      @include heading(3)
    }
    &-item {
      padding: 40px 30px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;

    }
    &-author {
      display: flex;
      align-items: center;
      column-gap: 16px;
      @include subtitle(4)
    }
    &-text {
      @include text(6);
      margin-top: 24px;
      display: block;
    }
  }
  &__similar {
    display: flex;
    flex-direction: column;
    max-width: 1216px;
    margin: 240px auto 0;
    &-title {
      @include heading(3);
    }
    &__list {
      margin-top: 27px;
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      &-title {
        @include subtitle(4)
      }
      &-image {
        width: 100%;
      }
    }
  }
  &__feedback {
    display: flex;
    flex-direction: column;
    max-width: 1216px;
    margin: 240px auto 0;
  }
  @include desktop {
    padding: 0 30px;
  }
  @include tablet {
    &__goals, &__feedback, &__similar, &__stages, &__result, &__review{
      margin: 120px auto 0;
    }
    &__stages {
      &-item {
        margin-top: 56px;
      }
    }
    &__result {
      &-item {
        column-gap: 8px;
      }
    }
    &__similar {
      &-title {
        text-align: center;
      }
      &__list {
        flex-direction: column;
        row-gap: 24px;
      }
    }
    &__presentation {
      height: 500px;
    }
  }
  @include mobile {
    &__result {
      &-list {
        grid-template-columns: 1fr;
        row-gap: 16px;
      }
    }
    &__review {
      &-item {
        padding: 20px;
      }
    }
  }
}