.card {
  display: flex;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient($purpleGradient);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  //border-width: 2px;
  //border-style: solid;
  //border-radius: 20px;
  //
  //-moz-border-image: -moz-linear-gradient($purpleGradient);
  //-webkit-border-image: -webkit-linear-gradient($purpleGradient);
  //border-image: linear-gradient($purpleGradient);
  //-webkit-border-image-slice: 2;
  //border-image-slice: 2;
  //background-origin: border-box;
  //background-clip: content-box, border-box;
}