body.overflow {
  @include hideScrollBar;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.main {
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
}

#main-background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background: url("@/assets/img/background.png") #000000 top center no-repeat;
}