.solution-view {
  color: $white100;
  &__greetings {
    margin: 226px auto 0;
    @include centering;
    flex-direction: column;
    &-title {
      @include heading(3);
      text-align: center;
    }
    &-description {
      margin-top: 30px;
      @include subtitle(1);
    }
    &-order {
      @include primaryButton;
      margin-top: 50px;
      padding: 16px 29.5px;
      width: 186px;
    }
  }
  &__includes {
    position: relative;
    padding-bottom: 120px;
    margin: 240px auto 0;
    max-width: 1216px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $stroke;
    }
    &-title {
      @include heading(3)
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 22px;
    }
    &-item {
      @include subtitle(1)
    }
  }
  &__result {
    margin: 80px auto 0;
    max-width: 1216px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    &-actions {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    &-title {
      @include heading(3);
    }
    &-order {
      @include primaryButton;
      width: 186px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
    &-item {
      display: flex;
      align-items: start;
      column-gap: 16px;
      max-width: 607px;
      &-icon {
        width: 30px;
        height: 30px;
      }
      &-text {
        @include subtitle(1)
      }
    }
  }
  &__technologies {
    max-width: 1216px;
    margin: 240px auto 0;
  }
  &__portfolio {
    margin-top: 240px;
  }
  &__stages {
    max-width: 1216px;
    margin: 264px auto 0;
  }
  &__feedback {
    max-width: 1216px;
    margin: 240px auto;
  }

  @include desktop {
    padding: 0 30px;
  }
  @include tablet {
    &__greetings {
      margin: 120px auto 0;
    }
    &__includes, &__technologies, &__stages {
      margin: 140px auto 0;
    }
    &__feedback {
      margin: 140px auto;
    }
    &__result, &__includes {
      &-actions {
        max-width: 100%;
      }
      grid-template-columns: 1fr;
      row-gap: 24px;
    }
  }
  @include mobile {
    &__greetings {
      margin: 60px auto 0;
    }
    &__includes, &__technologies, &__stages {
      margin: 70px auto 0;
    }
    &__feedback {
      margin: 70px auto;
    }
  }
}