$white100: #FFFFFF;
$white90: #E6E6E6;
$white80: #CCCCCC;
$white70: #B8B9BC;
$white60: #9A9A9A;
$white40: #929292;
$black: #1A1A1A;
$darkBlue: #121721;
$bg: #121721;
$whiteGradient: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.76) 100%);
$purpleGradient: 278.86deg, #EB0AFF 0%, #00B3FF 100%;
$stroke: rgba(255, 255, 255, 0.3);
$fillGradient: rgba(16, 16, 16, 0.1);
$fillInput: rgba(255, 255, 255, 0.3);
