.form {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient($purpleGradient);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  &_fill {
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      -webkit-backdrop-filter: blur(150px);
      backdrop-filter: blur(150px);
    }
  }
  &-title {
    @include heading(3);
  }
  &__fields {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    &-item {
      &:last-child {
        grid-column: span 2;
      }
    }
  }
  &__submit {
    @include primaryButton;
    align-self: end;
    width: 186px;
    margin-top: 30px;
  }
  @include smallTablet {
    &__fields {
      gap: 20px;
    }
  }
  @include mobile {
    padding: 20px;
    &__fields {
      grid-template-columns: 1fr;
      &-item {
        grid-column: auto !important;
      }
    }
    &__submit {
      width: 100%;
    }
  }
}